<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 <bean id="triangle" class="com.rakesh.example.springbeans.Triangle" autowire="byName" scope ="prototype" >
 
 </bean>
 
 <bean id="pointA" class="com.rakesh.example.springbeans.Point" >
  <property name="x" value="0"/>
  <property name="y" value="0"/>
 </bean>
 
 <bean id="pointB" class="com.rakesh.example.springbeans.Point">
  <property name="x" value="10"/>
  <property name="y" value="0"/>
 </bean>
 
 <bean id="pointC" class="com.rakesh.example.springbeans.Point">
  <property name="x" value="0"/>
  <property name="y" value="10"/>
 </bean>
 
</beans>